.title-travel{
  font-size: 55px;
  background-color: #000000;
  color: white;
  margin-left: 5px;
  text-align: center;
}
  
.info{
  color: #af4c4c;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #000000;
  z-index: 1;
  position: relative;
}

.info button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 40%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}








