
<div class="title-travel">
  <p> World Travel</p>
</div>

<div class="info">

  País: <br />
  <input type="text" size="40">
  <br /><br />

  Cidade: <br />
  <input type="text" size="40">
  <br /><br />

  Dias: <br />
  <input type="text" size="5">
  <br /><br />

  Número Pessoas: <br />
  <input type="text" size="5">
  <br /><br />

  Descrição:  <br />
  <textarea cols="30" rows="10"></textarea>
  <br /><br />



<form class="button">
  <button>Salvar  </button>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
  <button>Cancelar  </button>
</form>
</div>