<form formGroup="loginValidatorForm">
  <div class="title-client">
      <p>World Travel</p>
    </div>
  
      <div class="login-client">
        <h1>
          <img src="https://cdn.icon-icons.com/icons2/1898/PNG/512/planet_121108.png" alt="Image" height="150" width="150" id="imgp">
        </h1>
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="username"/>
            <div *ngIf="username.touched && username.errors?.req" class="error">
              Username é obrigatório!
          </div>
            <input type="password" placeholder="password"/>
            <div *ngIf="password.touched && password.errors?.required" class="error">
              Senha é obrigatória!
          </div>
          <button type="button" (click)="goToTravel()">login</button>
            <p class="message">Não possui registro? <a href="register">Criar Conta</a></p>  
          </form>
        </div>
      </div>
    </form>