<a href="login">Tela Login</a>
&nbsp;&nbsp;&nbsp;
<a href="register">Tela Registro</a>
&nbsp;&nbsp;&nbsp;
<a href="travel">Tela Viagem</a>

<div style="margin-top: 20px;">
    <router-outlet></router-outlet>
</div>