<form formGroup="registerValidatorForm">
  <div class="title-client">
    <p>World Travel</p>
  </div>
  
    <div class="login-client">
      <h1>
        <img src="https://cdn.icon-icons.com/icons2/1898/PNG/512/planet_121108.png" alt="Image" height="150" width="150" id="imgp">
      </h1>
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="name"/>
          <div *ngIf="username.touched && username.errors?.required" class="error">
            Username é obrigatório
        </div>
          <input type="password" placeholder="password"/>
          <div *ngIf="password.touched && password.errors?.required" class="error">
            Senha é obrigatória!
        </div>
          <input type="text" placeholder="email address"/>
          <div *ngIf="email.errors?.required" class="error">
            E-mail é obrigatório!
        </div> 
          <button type="button" (click)="goToLogin()">create</button>         
          
          <p class="message">Already registered? <a href="login">Sign In</a></p>
        </form>
      </div>
    </div>
  </form>